body {
    background-color: #e0e6eb;
    color: #212529;
    font-family: 'IBM Plex Mono', monospace;
}

button {
    background-color: inherit;
    color: inherit;
    border-style: solid;
    border-color: currentColor;
    font-weight: bold;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.intro h1 {
    font-size: 12.25em;
    font-weight: 700;
}

.intro h2 {
    font-size: 3.5em;
    font-weight: 400;
}
